
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  min-width: 320px;
  /* min-height: 100vh; */
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 20px;
  color: #1b1c21;
  background-color: #F8F8F8;
}

/* Header styles start */

.container {
  padding: 0 16px;
}


.header {
  background-color: #ffffff;
  border-bottom: 1px solid #D9FFF5;
}

.header__inner {
  min-height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  margin-right: 16px;
  /* position: relative; */
}

.search {
  margin-right: 0;
}

.header__button {
  position: relative;
  width: 40px;
  height: 40px;
  background: #FF3E79;
  border-radius: 20px;
  border: none;
  padding-left: 8px; 
} 


/* ------------------------------------ */
/*------------Burger  start------------ */
/* ------------------------------------ */
.burger {
  width: 320px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-left: 16px;
  padding-top: 24px;
  height: 88px;
}

.burger__button {
  display: none;
}

.burger__label {
  display: inline-block;
  z-index: 2;
}

.burger__line {
  position: absolute;
  top: 12px;
  left: 11px;
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
} 

.burger__line:nth-child(2),
.burger__line:nth-child(3) {
  top: 19px;
  width: 10px;
}

.burger__line:nth-child(4) {
  top: 26px;
  width: 14px;
}

.burger__menu {
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-left: 16px;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  z-index: 2;
  transition: 0.1s all;
  transform: translateY(100%);
}

.burger__item {
  position: relative;
  display: block;
  width: 100%;
  /* max-height: 500px; */
  margin-top: 32px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  background-color: #ffffff;
  /* overflow-x: scroll; */
}

/* .burger__item:first-child{
  color: #7E7E82;
}

.burger__item:first-child::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 32px;
  left: -16px;
  top: -5px;
  background-color: #41F6D7;
  border-radius: 2px;
} */

.burger__item:hover{
  color: #7E7E82;
}

.burger__item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 32px;
  left: -16px;
  top: -5px;
  background-color: #ffffff;
  border-radius: 2px;
}

.burger__item:hover::before {
  background-color: #41F6D7;
}

.burger__buttons {
  display: flex;
  padding-bottom: 16px;
}

.call-br:hover {
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 1s;
}

.burger__email {
  margin-bottom: 12px;
}

.contacts__mail {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.burger__phone-number{
  margin-bottom: 40px;
}

.burger__lang {
  border: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  background-color: #ffffff;
}

.lang-ru {
  color: #7E7E82;
}

.contacts__phone-number{
  font-size: 24px;  
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
}

.burger__button:checked ~ .burger__menu {
  min-height: 100vh;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  background-color: #ffffff;
}

.burger__button:checked ~ .label .burger__line:nth-child(1) {
  display: none;
}

.burger__button:checked ~ .label .burger__line:nth-child(2) {
  transform: 
    translateX(4px)
    rotate(-45deg)
    scaleX(2);
}

.burger__button:checked ~ .label .burger__line:nth-child(3) {
  transform: 
    translateX(4px)
    rotate(45deg)
    scaleX(2);
  
}

.burger__button:checked ~ .label .burger__line:nth-child(4) {
  display: none;
}
/* .burger-menu__button::after {
  content: url("/img/menu.svg");
  position: absolute;
  top: 12px;
  left: 11px;
} */

/* .burger-menu__button {
  background-image: url("/img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
} */


/* ------------------------------------ */
/*------------Burger  end------------ */
/* ------------------------------------ */

.logo {
  z-index: 1;
  margin: 0;
  margin-left: 16px;
}

.call-h,
.chat-h,
.profile-h {
  display: none;
}

.call__button::after {
  content: url("/img/call.svg");
  position: absolute;
  top: 10px;
  left: 10px;
}

.chat__button::after {
  content: url("/img/chat.svg");
  position: absolute;
  top: 10px;
  left: 10px;
}

.profile__button::after {
  content: url("/img/profile.svg");
  position: absolute;
  top: 10px;
  left: 10px;
}


.settings__button::after {
  content: url("/img/settings.svg");
  position: absolute;
  top: 10px;
  left: 10px;
}

.search__button::after {
  content: url("/img/search.svg");
  position: absolute;
  top: 10px;
  left: 12px;
}



.settings__button::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 4px;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
  border: none;
}


/* .burder-menu_buttom::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 11px;
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff;
} */

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }

  .burger__label::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 4px;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    border: none;
  }

  .logo {
    margin-left: 30px;
  }

  .call {
    display: block;
  }
  .chat {
    display: block;
  }
  .profile {
    display: block;
    margin-right: 40px;
  }

}

@media (min-width: 1120px) {
  .container {
    padding: 0 32px;
  }

  .header {
    background-color: #F8F8F8;
    border-bottom: none;
  }
  .header__inner {
  
    align-items: flex-end;
  }
  
  .burger,
  .logo,
  .call,
  .chat,
  .profile  {
    display: none;  
  }

  .item {
    margin-right: 0;
    margin-left: 160px;
    position: relative;
  }

  .settings__button::before {
    content: "Оставить заявку";
    position: absolute;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 24px;
    top: 10px;
    left: -125px;
    min-width: 125px;
    max-height: 24px;;
    background-color: #f8f8f8;
  }
  .search__button::before {
    content: "Статус ремонта";
    position: absolute;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 24px;
    top: 10px;
    left: -125px;
    min-width: 125px;
    max-height: 24px;;
    background-color: #f8f8f8;
  }
}

/* Header styles end */


/* Main styles start */

.main {
  background-color: #F8F8F8;
}

.container-main {
  padding: 24px 16px;
}

.title {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding: 10px 0;
}

.title_text {
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

.title__text::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  left: -16px;
  top: 0px;
  background-color: #41F6D7;
  border-radius: 2px;
}

.menu {
  display: flex;
  /* overflow: hidden; */
  overflow-x: scroll;
  margin-bottom: 24px;
}

.menu__btn {
  border: 2px solid #F8F8F8;
  background-color: #f8f8f8;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px; 
  color: #7E7E82;
  border-radius: 8px;
}

.menu__btn:first-child {
  border-color: #B8FFEC;
  background-color: #ffffff;
  
}

.main__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info__text {
  max-height: 90px;
  max-width: auto;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.info__read-more {
  margin-bottom: 22px;
}

.info__read-more-button {
  padding-left: 28px;
  background: url("/img/arr.svg") no-repeat 9px 2px;
  border: none;
}

.info {
  flex-grow: 1;
}

.picture {
  flex-grow: 1;
  margin: 0;
  min-width: 320px;
  /* margin: 0 -16px; */
}

.picture__1 {
  width: 100%;
}

@media (min-width: 768px) {
  .container-main {
    padding: 24px 24px;
  }

  .title {
    margin-bottom: 32px;
  }

  .title__text::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  left: -24px;
  top: 0;
  background-color: #41F6D7;
  border-radius: 2px;
  }

  .menu {
    margin-bottom: 32px;
  }

  .main__inner{
    flex-wrap: nowrap;
  }

  .info__text {
    max-height: 160px;
    line-height: 20px;
  }

  .info {
    flex: 1 1 0;
    margin-right: 48px;
  }

  .picture {
    flex: 1 1 0;  
    margin: 0;
  }
}

@media (min-width: 1120px) {
  .container-main {
    padding: 16px 32px;
  }

  .title {
    position: absolute;
    top: 47px;
    left: 32px;
    margin: 0;
  }

  .title__text::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  left: -32px;
  top: 0;
  background-color: #41F6D7;
  border-radius: 2px;
  }

  .menu {
    flex-wrap: wrap;
  }

  .menu__btn {
    padding: 9px 20px;
  }

  .main__inner {
    flex-wrap: nowrap;
  }

  .info__text {
    padding: 16px 0;
    max-height: 160px;
    min-width: 490px;
    line-height: 20px;
  }

  .info {
    flex: 1 1 0;
    margin-right: 36px;
  }

  .picture {
    flex: 1 1 0;  
    margin: 0;
  }
}

/* Main styles end */
